{% extends "admin/change_form.html" %}


{% block object-tools-items %}
    <li>
        <a href="{% url 'upload_design_images' original.id %}" class="historylink"> "Загрузить картинки"</a>
    </li>
{% endblock %}