{% extends "admin/change_form.html" %}

{% block breadcrumbs %}
    <div class="breadcrumbs">
        <a href="{% url 'admin:index' %}"> 'Home'</a>
        'Загрузка картинок проекта'
    </div>
{% endblock %}

{% block content %}
    <form method="post" action="{{ request.path }}" enctype="multipart/form-data">
        {{ form.as_p }}
        <input type="submit" value="Загрузить картинки"/>
        {% csrf_token %}
    </form>
{% endblock %}