{% load static %}

<html lang="ru">
    <head>
        <meta http-equiv="Content-Type" content="text/html">
        <title> Main </title>
        <link type="text/css" rel="stylesheet" href={% static "css/menu_assets/stylescopy.css" %}>

        <!-- Meta Tags -->
        <meta name="robots" content="index, follow" />

        <!-- CSS -->
        <link rel="stylesheet" type="text/css" href={% static "css/default.css" %} />

        <!-- JavaScript -->
        {% block head_block %}{% endblock %}
    </head>


    <body link="#96BF55" vlink="#e28b00" alink="#e28b00">
    <div id="wrapper">
        <div id="header">
            <img src="{% static "css/images/headd.jpg" %}" alt="main_header" width="100%" border="0" hspace="0" align="justify">
        </div>

        <div id='pre_menu'>
            <div id='cssmenu'>
                <ul id='menu'>
                   <li><a href={% url "index" %}><span>ГЛАВНАЯ</span></a></li>
                   <li><a href='#'><span>НАШИ РАБОТЫ</span></a>
                      <ul style="z-index: 1000">
                          {% for project in projects %}
                              <li class='has-sub '>
                                  <a href="/project/{{ project.id }}/">
                                      <span>{{ project.title }}</span>
                                  </a>
                              </li>
                          {% endfor %}
                      </ul>
                   </li>
                   <li id='gosha'><a href={% url "project_tutorial" %}><span>ОБРАЗЕЦ ДИЗАЙН ПРОЕКТА</span></a></li>
                   <li id='gosha'><a href={% url "price_service" %}><span>УСЛУГИ И ЦЕНЫ</span></a></li>
                   <li id='gosha'><a href={% url "contacts" %}><span>КОНТАКТЫ</span></a></li>
<!--                   <li id='gosha'><a href={% url "partners" %}><span>НАШИ ПАРТНЕРЫ</span></a></li>-->
                </ul>
                <ul>
                </ul>
            </div>
        </div>

        <div id="container">
        {% block container %}
{#            <div id="left">#}
{#                {% block left_container %}{% endblock %}#}
{#            </div>#}
{#            <div id="right">#}
{#                {% block right_container %}{% endblock %}#}
{#            </div>#}
            <div id="center">
                {% block center_container %}{% endblock %}
            </div>
        {% endblock %}
        </div>
        <div id="footer"></div>
    </div>
    </body>

</html>