{% extends "base.html" %}
{% load static %}

{% block center_container %}

    <div id="content" color="#808080">
        {% for contact in contacts %}
            <h3>
                {{ contact.sername }} {{ contact.name }}
                <br>
                e-mail:
                <font color="#96BF55"> {{ contact.email }}</font>
            </h3>
            <h3>моб. телефон: </h3><h4>{{ contact.phone }}</h4>
            <br>
        {% endfor %}
    </div>
    <br><br>
    <div class="page-body">
    <HR width="95%" size="0">
    <br>
    </div>
{% endblock %}