{% extends "base.html" %}
{% load static %}

{% block center_container %}
    <div id="center1">
        <img id="img1" src={{ index_page.main_image.url }} border="1" color="#a0a0a0" background="#ffffff" vspace="0" align="right">
        <p style="padding: 5 0 0 0;"><font color="#a0a0a0"></font></p>
        <p><font color="#a0a0a0">
            {{ index_page.text | safe }}
        </font></p>
        <br><br>
        <HR width="80%" size="0" align="center">
        <p><font color="#464451" size="0" align="center" width="80%">
        </font></p>
    </div>
{% endblock %}
