{% extends "base.html" %}
{% load static %}

{% block center_container %}
    <div id="center2">
    {% for event in events %}
        <a href={{ event.url }}>
            <img
                id="img2"
                src={{ event.image.url }}
                border="1"
                color="#a0a0a0f"
                background="#ffffff"
                vspace="0"
                align="right"
                alt=""
            >
        </a>
        <font color="#a0a0a0">
            <p style="padding: 5 0 0 0; text-indent: 25px">
                {{ event.description }}
            </p>
            <br><br>
            <p style=" text-indent: 25px">
                Для просмотра публикации пройдите по
                <a href={{ event.url }}> ссылке </a>
                или нажмите на обложку
            </p>
        </font>
        <br><br>
    {% endfor %}

    </div>
{% endblock %}
