{% extends 'base.html' %}
{% load static %}

{% block head_block %}
    <style type="text/css">
        P.fig {
            text-align: right; /* Выравнивание по центру */
        }
    </style>

{% endblock %}

{% block center_container %}
    <div id="center2">
    {% for partner  in partners%}
        <br><br><br>
        <img
            src={{ partner.main_image.url }}
            border="1"
            width="50%"
            color="#ffffff"
            background="#ffffff"
            vspace="0"
            align="center" style="margin: 0 0 0 25%;"
            alt=""
        >
        <div style="margin: 0 0 0 25%;">
            <p><font color="#a0a0a0">
                {{ partner.title }}
                <br>{{ partner.description }}
                <br>
                <a href={{ partner.url }}><span>"{{ partner.url }}"</span></a>

            </font>
            </p>
        </div>
        <br><br><br><br>
    {% endfor %}

        <HR width="80%" size="0" align="center">
    </div>
{% endblock %}