{% extends "base.html" %}
{% load static %}

{% block container %}
    <div id="left"></div>
    <div id="right"></div>
    <div id="center" style="margin: 0 0 0 0 ; color:#a0a0a0; width:695">
        <h2 style="text-decoration: underline; color:#a0a0a0;">
            СТОИМОСТЬ УСЛУГ
            <br>
            ПО РАЗРАБОТКЕ ДИЗАЙН-ПРОЕКТА
        </h2>
        <h2>ЖИЛЫЕ ИНТЕРЬЕРЫ (КВАРТИРЫ, КОТТЕДЖИ И ПР.)</h2>

        <p class="center">
            В данном сегменте мы предлагаем два стандартных пакета услуг по<br>разработке дизайн-проекта Вашего дома:
        </p>
        <br><br>
        {% for service in services %}
            <h2>ПАКЕТ "{{ service.title }}"</h2>
             <p class="center" style="text-decoration: underline"> Состав дизайн-проекта «{{service.title}}»:</p>
            <br><br>
            <p class="price">
                <ul>
                    {{ service.description | safe }}
                    <p class="left" style="text-decoration: underline">СТОИМОСТЬ:</p><br>
        {% for price in service.prices_text.all %}
        <font color="#e28b00">
            {{ price.price_text }}
        </font>
        {% endfor %}
<!--                    {% for price in service.prices.all %}-->
<!--                        <font color="#e28b00">-->
<!--                            - -->
<!--                            {% if price.meters_from %}-->
<!--                                от {{ price.meters_from }}-->
<!--                            {% endif %}-->
<!--                            {% if price.meters_to %}-->
<!--                                до {{ price.meters_to }}-->
<!--                            {% endif %} кв.м-->
<!--                        </font> - от {{ price.price }} рублей за кв.м-->
<!--                        <br>-->
<!--                    {% endfor %}-->
                </ul>
            </p>

            <p class="left" style="text-decoration: underline"><br>
                {{ service.additional_info }}
            </p>
            <br><br><br>

        {% endfor %}

        <h2>РАСЦЕНКИ НА ОТДЕЛЬНЫЕ УСЛУГИ ДИЗАЙНЕРА</h2>
<!--        <p class="center"> (при заказе ПАКЕТА - вы получаете скидку)</p>-->
<!--        <br>-->

        <p class="price"><br>
            {% for individual_service in individual_services %}
                {{ individual_service.text | safe }}
            {% endfor %}
        </p>
        <br><br>
        Для получения информации о стоимости разработки дизайн-проекта Вашего
        объекта, пожалуйста, позвоните по телефону или оставьте заявку по электронным
        адресам.

        <br>
        <div style="float: left">
            <br>{{ contacts.0.sername }} {{ contacts.0.name }} <br><br>
            Тел. <font color="#e28b00"> {{ contacts.0.phone }} </font> <br>
            E-mail: <font color="#e28b00"> {{ contacts.0.email }} </font>
        </div>
        {% if contacts.1 %}
            <div style="float: right">
                <br>{{ contacts.1.sername }} {{ contacts.1.name }} <br><br>
                Тел. <font color="#e28b00"> {{ contacts.1.phone }} </font><br>
                E-mail: <font color="#e28b00"> {{ contacts.1.email }} </font>
            </div>
        {% endif %}
        <br><br><br><br><br><br>
        <HR width="100%" size="0" align="left">
    </div>

{% endblock %}