{% extends "base.html" %}
{% load static %}

{% block head_block %}
    <link rel="stylesheet" href={% static "touchCarousel/css/styles.css" %}>
    <link rel="stylesheet" href={% static "touchCarousel/touchTouch/touchTouch.css" %}>

    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
    <script src={% static "touchCarousel/touchTouch/touchTouch.jquery.js" %}></script>
    <script src={% static "touchCarousel/js/script.js" %}></script>
{% endblock %}

{% block center_container %}
    <div id="content" color="#a0a0a0">
        <img src="{{ project.main_image.url }}" width="175" height="142" border="1" color="#ffffff" hspace="20" vspace="5" align="left">
        <table height="142" style="padding: 10 0 0 0;">
            <td>
                <p><font color="#a0a0a0">"{{ project.title }}"</font></p>
                <p><font color="#a0a0a0"> {{ project.description | safe }} </font></p>
            </td>
        </table>
        <br>
    </div>
    <div class="page-body">
        <br>
        <HR width="95%" size="0">
        <br>
            <p>
            <div class="thumbs">
                {% for img in images %}
                <a href="{{ img.image.url }}"
                   style="background-image:url({{ img.image_small.url }})"
                   title="">
                </a>
                {% endfor %}
            </div>
    </div>
{% endblock %}
