{% extends "base.html" %}
{% load static %}


    {% block head_block %}
    <meta charset="utf-8" />
    <link rel="stylesheet" href={% static "css/touch_carousel/css/styles.css" %}/>
    <link rel="stylesheet" href={% static "css/touch_carousel/touchTouch/touchTouch.css" %}/>

    <meta name="viewport"  content="width=device-width, initial-scale=1.0, user-scalable=0, maximum-scale=1.0" />
    <link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Dancing+Script" />

    <script src="http://code.jquery.com/jquery-1.7.1.min.js"></script>
<!--    <script src={% static "css/touch_carousel/touchTouch/touchTouch.jquery.js" %}></script>-->
<!--    <script src={% static "css/touch_carousel/js/script.js" %}></script>-->
    {% endblock %}

    <body>
    {% block container %}
        <div class="thumbs">
            <a
                href="http://farm8.staticflickr.com/7013/6754656011_3de2cc73a2_z.jpg"
                style="background-image:url(http://farm8.staticflickr.com/7013/6754656011_3de2cc73a2_m.jpg)"
                title="Lion Rock">
            </a>
            <a
                href="http://farm8.staticflickr.com/7042/6895252645_45f5dfffaa_z.jpg"
                style="background-image:url(http://farm8.staticflickr.com/7042/6895252645_45f5dfffaa_m.jpg)"
                title="Holsten Gate">
            </a>
	        <a
                href="http://farm8.staticflickr.com/7183/6943277737_21b521659c_z.jpg"
                style="background-image:url(http://farm8.staticflickr.com/7183/6943277737_21b521659c_m.jpg)"
                title="Blue Hour">
            </a>
	        <a
                href="http://farm8.staticflickr.com/7047/7000951429_5eae078a62_z.jpg"
                style="background-image:url(http://farm8.staticflickr.com/7047/7000951429_5eae078a62_m.jpg)"
                title="Waikato Landscape">
            </a>

        </div>
        <script src={% static "css/touch_carousel/touchTouch/touchTouch.jquery.js" %}></script>
        <script src={% static "css/touch_carousel/js/script.js" %}></script>
    {% endblock %}
    </body>
